# ==========================================
# CẤU HÌNH API CỦA HỆ THỐNG SCB (BACKEND)
# ==========================================
# URL kết nối tới SCB Backend (Thay đổi khi đưa lên server, vd: http://14.232.161.66:3008/api)
NEXT_PUBLIC_API_URL=http://localhost:3008/api

# ==========================================
# CẤU HÌNH XÁC THỰC VÀ TÍCH HỢP HRM (SSO)
# ==========================================
# Domain dùng chung để chia sẻ Cookie (Phải giống hệt domain mà HRM đang set Cookie)
NEXT_PUBLIC_DOMAIN=.dkpharma.io.vn

# Base URL của ứng dụng HRM (Dùng để redirect khi chưa đăng nhập hoặc đăng xuất)
NEXT_PUBLIC_FRONTEND_ROOT_URL=http://test.dkpharma.io.vn:3000

# Base URL của Backend HRM (Auth Service) dùng để gọi API refresh token và lấy thông tin User
NEXT_PUBLIC_AUTH_URL=http://14.232.161.66:3012

# (Tuỳ chọn) URL của Frontend SCB hiện tại (dùng trong một số tính năng nếu cần callback)
NEXT_PUBLIC_FRONTEND_URL=http://test.dkpharma.io.vn:3006
